main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    .app-illustration{
        height: 50%;
        width: 50%;
        margin: auto;
        &__mobile{
            width: 100%;
            height: 100%;
            border: 10px solid $white;
            border-radius: 30px;
            background-color: $lightGrayishViolet;

            .screen{
                height: 100%;
                width: 100%;
                border-radius: 30px;

                &__profil{
                    height: 20%;
                    border-radius: 25px 25px 10px 10px;
                    background: linear-gradient(270deg, $lightMagenta 0%, $lightViolet 100%);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    i{
                        color: $white;
                    }
                    &--img{
                        width: 10%;
                        height: auto;
                        border-radius: 50%;
                        border: 1px solid $white;
                    }
                }
                
            }
        }
    }
    
}