main {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .app-illustration {
  height: 70%;
  width: 70%;
  margin: 5rem auto 1rem auto;
}

main .app-illustration__mobile {
  width: 100%;
  height: 100%;
  border: 10px solid white;
  border-radius: 30px;
  background-color: #f5f3f7;
}

main .app-illustration__mobile .screen {
  height: 100%;
  width: 100%;
  border-radius: 30px;
}

main .app-illustration__mobile .screen__profil {
  height: 5rem;
  padding: 0 0.7rem;
  border-radius: 25px 25px 10px 10px;
  background: -webkit-gradient(linear, right top, left top, from(#e942ff), to(#8838ff));
  background: linear-gradient(270deg, #e942ff 0%, #8838ff 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

main .app-illustration__mobile .screen__profil .white-space {
  position: absolute;
  width: 50%;
  height: 1rem;
  background-color: white;
  top: 0;
  right: 25%;
  border-radius: 0 0 30px 30px;
}

main .app-illustration__mobile .screen__profil--navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

main .app-illustration__mobile .screen__profil--navigation i {
  color: white;
  font-size: 0.8rem;
}

main .app-illustration__mobile .screen__profil--navigation img {
  width: 15%;
  height: auto;
  border-radius: 50%;
  border: 1px solid white;
}

main .app-illustration__mobile .screen__profil--navigation p {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 3rem;
}

main .app-illustration__mobile .screen__profil--navigation p .name {
  font-size: 0.9rem;
  font-weight: 500;
  padding-bottom: 0.4rem;
}

main .app-illustration__mobile .screen__profil--navigation p .available {
  font-size: 0.5rem;
  font-weight: 300;
}

.screen__chat {
  height: 80%;
  font-weight: 300;
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.6rem;
}

.screen__chat__walkerBubble {
  color: #9241c8;
  background-color: #efeaf1;
  max-width: 50%;
  margin: 1rem 0 0 0.5rem;
  padding: 0.5rem;
  border-radius: 10px 10px 10px 3px;
}

.screen__chat--photos-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: end;
      align-self: flex-end;
  max-width: 60%;
  margin: 1rem 0.5rem 0 0;
}

.screen__chat--photos-container > img {
  width: 30%;
  border-radius: 20%;
}

.screen__chat__clientBubble {
  color: #6e5d7e;
  background-color: white;
  max-width: 50%;
  margin: 1rem 0.5rem 1rem 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 0.5rem;
  border-radius: 10px 10px 5px 10px;
}

.screen__chat__price {
  color: white;
  max-width: 60%;
  padding: 0.7rem;
  background: -webkit-gradient(linear, left top, right top, from(#e942ff), to(#8838ff));
  background: linear-gradient(90deg, #e942ff 0%, #8838ff 100%);
  margin: 0.5rem 0 0 0.5rem;
  border-radius: 10px 10px 10px 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.screen__chat__price > .time::before {
  content: '';
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  border: 1px solid #e570ff;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.screen__chat__price > .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.6rem;
}

.screen__chat__price > .amount {
  font-weight: 800;
  font-size: 0.8rem;
}

.screen__chat__message {
  margin: 1rem;
  padding: 0.4rem;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
}

.screen__chat__message > p.placeholder {
  opacity: 0.3;
  font-weight: 300;
  font-size: 0.5rem;
  margin-left: 0.6rem;
}

.screen__chat__message > .icon-container {
  background-color: #3e2753;
  color: white;
  padding: 0.5rem;
  border-radius: 50%;
  font-weight: 500;
}

body {
  font-size: 16px;
  max-width: 375px;
  height: auto;
  margin: auto;
  position: relative;
  background-color: #f5f3f7;
  font-family: 'Rubik', sans-serif;
}

body > span.background-bloc {
  height: 50%;
  width: 100%;
  border-radius: 0 0 200px 200px;
  background: -webkit-gradient(linear, left top, left bottom, from(#e942ff), to(#8838ff));
  background: linear-gradient(180deg, #e942ff 0%, #8838ff 100%);
  position: absolute;
  top: 0;
  left: -50%;
  z-index: -1;
}

body > span.background-bloc2 {
  height: 50%;
  width: 100%;
  border-radius: 200px 200px 0 0;
  opacity: 0.05;
  background: -webkit-gradient(linear, left top, left bottom, from(#e942ff), to(#8838ff));
  background: linear-gradient(180deg, #e942ff 0%, #8838ff 100%);
  position: absolute;
  bottom: 0;
  right: -50%;
  z-index: -1;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=style.css.map */